<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <title>My Website - About</title>
  </head>
  <body>
    <img src="{{url_for('static', filename='image.png')}}" alt="image" />
    <h1>Stephan Mingoes</h1>
    <p>
      As a Software Engineer, I am constantly seeking new challenges and
      opportunities to expand my knowledge and skillset. I am deeply passionate
      about using technology to solve real-world problems and have a strong
      foundation in Computer Science principles, including Data Structures,
      algorithms, and Software Design.
    </p>
  </body>
</html>
